{% extends 'core_std.html' %}

{% block content %}
    <h2>Đổi mật khẩu</h2>
    <form method="post">
        {% csrf_token %}
        <form method="post">
            <div>
                <label for="id_old_password">Mật khẩu hiện tại: </label><br>
                <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">  
            </div><br>            
            <div>
                <label for="id_new_password1">Mật khẩu mới: </label><br>
                 <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            </div><br>
            <div>
                <label for="id_new_password2">Nhập lại mật khẩu mới: </label><br>
                 <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"> 
            </div><br>
        </form>
        <button type="submit">Cập nhật</button>
    </form>
{% endblock %}