.info-title{
    padding: 0 15px;
}

.title{
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #afa4a4a1;
}

.title-span{
    font-size: 32px;
    font-weight: 700;
    color: #5b636e;
}